.privacyPolicyContainer{
    .privacyPolicyHeader {
        text-align: center;
        font-weight: bold;
        font-size: 32px;
        margin-bottom: 24px;
    }
    .maintext {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 40px;
    }
    .textHeader {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 8px;
    }
}