.inputInsideSelectContainer {
    margin-bottom: 32px;
    
    span{
        font-size: 24px;
        font-weight: 400  ;
       
    }
    .header{
        font-size: 24px;
        font-weight: bold  
    }
}
.selectDiv {
    // margin-top:5px;
    display: flex;
    justify-content: space-between;
    width:100%;
    border:2px solid #B1B1B1;
    outline: none;
    padding-left:1.5%;
    height: 48px;
    background-color: #e4e4e4;
    padding-right: 7px;
    img{
        margin-top:20px;
        margin-right: 15px;
        height: 8px ;
        width: 12px ;  
      
    }
}
.chooseFile{
    font-weight: 400;
}
@media only screen and (max-width: 1550px) {
    .inputInsideSelectContainer {
        margin-bottom: 32px!important;
        span{
            font-size: 16px!important;
           
        }
    }
    .selectDiv {
        height: 38px!important;
        img{
            margin-top:10px!important;
            margin-right: 8px!important;
            height: 8px !important;
            width: 12px!important ;
          
        }
    }
  
}