.aboutUsContainer {
    margin-bottom: 48px;
    .header{
        font-weight: bold;
        font-size: 32px;
        text-align: center;
    }
    .active{
        background-color: #71a9b0 !important;
    }
    li{
        border:2px solid white !important;
        background-color: white  !important;
        margin-right: 2%!important;
        text-indent: 0 !important;
        opacity: 1!important;
    }
    .z-depth-1{
         max-height: 480px;    
    }
    .container{
        margin:0;
        padding: 0;
        max-width: 100%;
    }
    .carouselContent{
        height: fit-content;
        max-height: 480px;
        margin:24px 0;
    }
    .carousel-inner{
        max-height: 480px;
    }
    .information {
        font-size: 24px;
        line-height: 32px;
    }
}
@media only screen and (max-width: 1550px) {
    .information {
        font-size: 16px!important;
        line-height: 24px!important;
    }
}   
   
    