.profileMainContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .profileMainInformation {
        display: flex;
        justify-content: space-between;
        .firstInformationContent {
            span {
                white-space: nowrap;
            }
        }
    }
    .userInformationContent {
        display: flex;
        flex-direction: column;
        margin-bottom: 32px;
        font-size: 24px;
        :first-child {
            white-space: nowrap;
            font-weight: bold;
            color:#00707E
        }
    }
    .mainUserInformationHeader {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 24px;
        text-align: center;
    }
    .lastInformationContent {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .secondInformationContent {
        display: flex;
        flex-direction: column;
        margin: 0 17.8%;
    }
   
    .userProfileEditButton {
        width: 16%;
        height: 48px;
        border-radius: 24px;
        background-color: #00707E;
        font-size: 24px;
        color:white;
        border:none;
        outline: none;
        float: right;
        
    }
    .editButtonContainer {
        margin-top:72px;
        display: flex;
        justify-content: space-between
    }
}
//user profile edit 
.userProfileEditContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    .mainUserInformationHeader {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 24px;
        text-align: center;
    }
    .dataAmdEditContainer {
        width: 100%;
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px  48px 8px 16px;
        border: 2px solid #B1B1B1;
        font-size: 24px;
        margin-bottom: 16px;
        p {
            margin-bottom: 0;
        }
    }
    .userData {
        font-weight: bold;
        font-size: 24px;
        padding-left: 16px;
        margin-bottom: 8px!important;
    }
    .modalsContainer{
        display: flex;
        color: #00707E;
    }
    .divider {
        margin: 0 5px;
    }
    .modalToggle {
        color: #00707E;
    }
    .saveButton {
        width: 16%;
        height: 48px;
        border-radius: 24px;
        background-color: #00707E;
        font-size: 24px;
        color:white;
        border:none;
        outline: none;
        float: right;
        margin-top:16px
    }
    
}
//modal style
.editModalContainer {
    max-width: 532px!important;
    
    top:25%;
    display: flex;
    .modal-header {
        display: none;
    }
    .modal-body {
        padding:0!important;
        width: 87.47%;
        margin: auto;
    }
    .modal-footer{
        display: flex;
        justify-content: space-between;
        width: 87.47%;
        margin: auto;
        margin-bottom: 32px;
        margin-top:32px;
        padding: 0;
        border-top: none;
        button {
            width: 42.28%;
            height: 48px;
            border-radius: 24px;
            border: none;
            outline: none;
            font-size: 24px;
            text-transform: capitalize;
           
        }
        :first-child {
            color:#707070;
            background-color: white!important;
            border:1px solid #707070
        }
        .saveButton {
            color:white;
            background-color: #00707E !important;
        }
    }
    .editModalHeader {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin:24px 0
    }
    .editDataForm {
        width: 100%;
        height: 48px;
        margin-bottom: 16px;
        label,input{
            width: 100%;
            height: 48px;
        }
        input {
            padding: 8px 16px;
            border: 2px solid #B1B1B1;
            font-size: 24px;
        }
    }
    .editModalButtonContainer {
        display: flex;
        justify-content: space-between;
        width: 91.37%;
        margin: auto;
        margin-bottom: 32px;
        button {
            width: 42.28%;
            height: 48px;
            border-radius: 24px;
            border: none;
            outline: none;
            font-size: 24px;
        }
        :first-child {
            color:#707070;
            background-color: white;
            border:1px solid #707070
        }
        .saveButton {
            color:white;
            background-color: #00707E;
        }
    }
    .adressContainer {
        display: flex;
        flex-direction: column;
    }
    .css-2b097c-container{
            border: 2px solid #B1B1B1;
        width: 100%;
        height: 50px;
        margin-bottom: 16px;
        font-size: 20px;
    }
    // .modalInputClassName {
    //     border: 2px solid #B1B1B1;
    //     width: 100%;
    //     height: 48px;
    //     margin-bottom: 16px;
    //     label,select{
    //         width: 100%;
    //         height: 48px;
    //     }
    //     select {
    //         padding: 8px 16px;
    //         border: 2px solid #B1B1B1;
    //         font-size: 24px;
    //         -webkit-box-sizing: border-box;
    //         -moz-box-sizing: border-box;
    //         box-sizing: border-box;
    //         -webkit-appearance: none;
    //         -moz-appearance: none;
    //         background-image: url('../../../assets/icons/Polygon 1.png');
    //         background-size: 12px 8px;
    //         background-repeat: no-repeat;
    //         background-position:
    //         calc(100% - 15px) calc(20px),
    //         100% 0;
    //         outline: none;  
    //     }
    // }
    .addressFieldsHeader {
        font-size: 24px;
    }
}
.addresModal {
    top:8%
}
//style permition modal
.sellersPermitContainer {
    margin-top:40px;
}
.notesAboutPermition {
    width: 100%;
    height: 80px;
}
.files-name {
    color: #00707E;
    cursor: pointer;
    font-weight: bold
}
.removeIcon {
    color: #00707E;
}
//edit from inputs
.editInputData {
    label,input {
        width: 100%;
    }
    input {
        height: 48px;
        border: 2px solid #B1B1B1;
        font-size: 24px;
        padding: 8px 16px;
    }
}
@media only screen and (max-width: 1550px) { 
    .userInformationContent {
        margin-bottom: 24px!important;
        font-size: 16px!important;
    }
    .editModalContainer {
        top:15%;
        .modal-footer {
            margin-top: 0;
            margin-bottom: 24px;
        }
    }
    .editModalHeader {
        font-size: 24px;
       
    }
    .profileMainContainer {
        .editButtonContainer {
            margin-top:54px!important;
            display: flex;
            justify-content: space-between
        }
    }
    .css-2b097c-container{
    border: 2px solid #B1B1B1;
    width: 100%;
    height: 36px!important;
    margin-bottom: 14px;
    font-size: 14px;
    }
    .editDataForm {
        label,input {
            width: 100%;
        }
        input {
            height: 32px!important;
            border: 2px solid #B1B1B1;
            font-size: 16px!important;
            padding: 4px 8px!important;
        }
    }
    
    .userData {
        font-size: 16px!important;
        padding-left: 8px!important;
        margin-bottom: 8px!important;
    }
    .saveButton,.cancelButton {
        width: 16%;
        height: 32px!important;
        font-size: 16px!important;
    }
    .dataAmdEditContainer {
        width: 100%;
        height: 32px!important;
        // padding: 8px  48px 8px 16px;
        border: 2px solid #B1B1B1;
        font-size: 16px!important;
        margin-bottom: 16px;
        p {
            margin-bottom: 0;
        }
    }
}
@media only screen and (max-width: 1024px) { 
    .userInformationContent {
        margin-bottom: 24px!important;
        font-size: 12px!important;
       
         
    }
    .editModalHeader {
        font-size: 16px!important;
       
    }
    .profileMainContainer {
        .editButtonContainer {
            margin-top:42px!important;
            display: flex;
            justify-content: space-between
        }
    }
    .editDataForm {
        input {
            height: 28px!important;
            border: 2px solid #B1B1B1;
            font-size: 12px!important;
            padding: 4px 8px!important;
        }
    }
    .userData {
        font-size: 12px!important;
        padding-left: 8px!important;
        margin-bottom: 8px!important;
    }
    .saveButton,.cancelButton {
        width: 16%;
        height: 28px!important;
        font-size: 12px!important;
    }
    .dataAmdEditContainer {
        width: 100%;
        height: 28px!important;
        // padding: 8px  48px 8px 16px;
        border: 2px solid #B1B1B1;
        font-size: 12px!important;
        margin-bottom: 16px;
        p {
            margin-bottom: 0;
        }
    }
}