.orderReviewContent {
    display: flex;
    flex-direction: column;
    width: 90%;
  
    margin: auto
}
.orderHeaderContainer{
    display: flex;
    padding: 20px;
    background-color: white;
    justify-content: space-between;
    div{
        width: 30%;
    }

}
.orderMaking {
    display: flex;
    flex-direction: column;
}
.orderBodyContainer {
    width: 90%;
     padding: 20px;
     margin: auto;
    margin-top:10px;
    background-color: white;
    display: flex;
    justify-content: space-between
}
.linkStyle {
    border:0.5px solid grey;
    padding:5px 0;
    margin:10px 0
}
.thirdDivOfOrder{
    display: flex;
    flex-direction: column;
    button{
        margin-bottom: 20px;
    }
}