
//main information about product 
 .selectInput {
    margin-bottom: 32px;  
    border:2px solid #B1B1B1;
    font-size:24px;
    height: 48px;
    .css-mcwtmf-control,.css-1dt3fdx-control {
       min-height: 20px;  
     }
    .css-1hwfws3{
        padding-top: 0;
        padding-bottom: 0;
        // min-height: 20px
    }
    .css-1okebmr-indicatorSeparator {
        display: none
    }
 }
 .multiselectSHeaderClassName {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
 }
%button-style {
    // width: 16%;
    padding: 5px 15px;
    height: 48px;
    border-radius: 24px;
    background-color: #00707E;
    font-size: 24px;
    color: white;
    border: none;
    outline: none;
}
.customizedProductPage{
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    height: fit-content;
}
    .customizedHeaderField{
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
        span{
            font-size: 32px;
            font-weight: bold;
        }
    }
    
    .customizedProductMainData{
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
       
    }
    .selectOptionContainer{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom:48px;
        span{
            font-size: 24px;
            display: flex;
            align-items: center;
            margin-right: 1.3%
        }
        .select{
            width: 36%;
            background-color: #e4e4e4;
            border:2px solid #B1B1B1;
            font-size:24px;
            .css-1dt3fdx-control {
                min-height: 20px;
            }
        }
    }
    .informationAndLinesContainer{
        display: flex;
        flex-direction: column;
    }
    .imageAndInformationContainer{
        display: flex;
        .imageContainer{
            height: 336px;
            max-width:384px ;
            background-color: white;
            display: flex;
            align-items: center;
            margin-right: 4%;
        }
        img{
            height:282px;
            width: 373px;
            margin:auto;
        }
    }
    .informationContainer{
        display: flex;       
        align-items: center;
    }
    .informationAndLinesContainer{
        display: flex;       
       
        p{
            margin: 0;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 24px;
            font-weight: 400;
        }
    }
//customized product details
//labelspesifications

        .labelSpecification{
            display: flex;
            flex-direction: column;
            margin-bottom: 32px;
            .labelHeader{
                font-size: 24px;
                margin:0;
                font-weight: bold;
                margin-bottom: 32px;
                margin-top:23px;
                text-align: center;
            }
            .labelSpecificationContent{
                display: flex;
                justify-content: space-between;
            }
            .labelDiv{
                width: 44%;
                display: flex;
                flex-direction: column;
                align-self: flex-end;
            }
        .inputSyle{
            width: 100%;
            margin-bottom:32px;
            label{
                width: 100%;
                font-size: 24px;
                font-weight: bold;
            }
            input{
                width:100%;
                border:2px solid #B1B1B1;
                outline: none;
                padding-left:3%;
                height: 48px;
                background-color: #e4e4e4;
            }
        }
        .size{
            font-size: 24px;
            font-weight: bold;
            
        }
        .sizeDetails{
            margin-top:5px;
            display:flex;
            justify-content: space-between;
            width: 100%;
            margin:0;
            .selectInput  {
                width: 30%
            }
        }
        .downloadFileContainer {
            display: flex;
            justify-content: center;
            margin-top:62px;

        }
        .downloadFile {
            width: 40%;
            height: 48px;
            background-color: #018FA1;
            color:white;
            border-radius: 24px;
            font-size:24px;
            border: none;
            outline: none;
        }
}
//quantity styling
.estimateButton {
    width: 27%;
    height: 48px;
    border-radius: 24px;
    background-color: #00707E;
    font-size: 24px;
    color: white;
    border: none;
    outline: none;
}
.handleQuantity{
    label{
        margin:0;
    }
    input{
        width:100%;
        outline: none;
        padding-left:3%;
        height: 48px;
        background-color: #e4e4e4;
    }
}
.plusIconContainer {
    height: 23px;
    width: 23px;
    color: #707070;
    border-radius: 50%;
    border:1px solid #707070;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-bottom: 20px;
}
.quantityContainer {
    width: 60%;
    margin: auto;
    .quantityHeader {
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        margin-top: 32px;
    };
    .quantityHeaderContainer{
        display: flex;
        justify-content: space-between;
        font-size: 24px;
        margin-bottom: 24px;
        margin: auto;
        p {
            width: 30%;
            white-space: nowrap
        }
    }
    .quantityDataContainer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
        div {
            width: 30%;
            border: 1px solid #707070;
            height: 72px;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                margin: 0;
                font-size: 24px;
                font-weight: bold;
            }
        }
        .quantity {
            color:#00707E;
            cursor: pointer;
        }
        .price,.pricePerlabel{
            color:#707070
        }
    }
    .choosedquantityDataContainer {
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
        div {
            width: 30%;
            border: 3px solid #707070;
            height: 72px;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                margin: 0;
                font-size: 24px;
                font-weight: bold;
            }
        }
        .quantity {
            color:#00707E;
            cursor: pointer;
        }
        .price,.pricePerlabel{
            color:#707070
        }
    }
    .choosedQuantity {
        color:red
    }
    .plusContainer{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 42px;
    }
    
}
//option styling
    .optionContainer{
    display: flex;
    flex-direction: column;
    }
    .optionInputsContainer{
        display: flex;
        justify-content: space-between;
        .optionDiv{
            width: 44%;
        }
    }
    .optionHeader{
        font-size: 24px;
        margin:0;
        font-weight: bold;
        margin-bottom: 32px;
        margin-top:23px;
        text-align: center;
       
    }
    .optionStartLine{
        margin-top:8px;
        width: 100%;
        height: 2px;
        background-color: #707070;
    }
    //roll styling
    .labelForSpecificationsContainer{
        display: flex;
        flex-direction: column;
       margin-bottom: 32px;
    }
    
    .labelSpecificationContent{
        display: flex;
        justify-content: space-between;
        .rollParametersDiv{
            width: 44%;
            display: flex;
            flex-direction: column;

        }
        :last-child{
            margin-bottom: 0;
        }
    }
    .chooseFile,.uploadFile{
        font-size: 24px;
        cursor: pointer;
        margin-bottom: 0;
        font-weight: bold;

    }
    .uploadFile{
        color:#00707E;
        white-space: nowrap;
        text-align: center;
    }
    .chooseFile {
        color:#00707E
    }
    .containerFileLoaderAndQuantity{
        display: flex;
        margin-bottom: 32px;
    }
    .textareaContainer{
        p{
            font-size: 24px;
            margin: 0;
            font-weight: bold;
        }
        textarea{
            width: 100%;
            height: 135px;
            border: 2px solid #B1B1B1;
            background-color: #e4e4e4;
            font-size: 24px;
        }
    }
    //other
        .otherSpecificationContainer{
            margin-bottom: 32px;
            .inputSyle{
                width: 100%;
                margin-bottom:32px;
                label{
                    width: 100%;
                    font-size: 24px;
                    font-weight: bold;
                }
                input{
                    width:100%;
                    border:2px solid #B1B1B1;
                    outline: none;
                    padding-left:3%;
                    height: 48px;
                    background-color: #e4e4e4;
                }
            }
            .otherSpecificationContent{
            display: flex;
            justify-content: space-between;
            margin-top:48px;
            .otherSpecificationDiv{
                width: 44%;
            }
            .filesHeader{
                font-size: 24px;
                font-weight: bold;
            }
            .uploadFilesContainer,.containerFileLoaderAndQuantity{
                display: flex;
                justify-content: space-between;
                margin-top:16px;
                margin-bottom: 32px;
                align-items: center;
                height: 48px;
                margin-bottom: 54px;
                
            }
            } 
            .changeAddresContainer{
                display: flex;
                flex-direction: column;
                p,span,label{
                    margin: 0;
                }
                .addressChangefield{
                    display: flex;
                    margin-bottom: 16px;
                    justify-content: space-between;
                    span {
                        font-size: 24px;
                        font-weight: bold;
                        margin-right: 32px;
                    }
                    .changeAddres{
                        font-size: 24px;
                        font-weight: bold;
                        color: #00707E;
                    }
                
                }
                .changedAddress{
                    font-size: 24px;
                    margin-bottom: 16px;
                }
                .checkbox{
                    font-size: 24px;
                    color:#707070;
                    input{
                        height: 16px;
                        width: 16px;
                        margin-right: 2%;
                        background-color: #e4e4e4;
                    }
                }
            }
            .artworksQuantityContainer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 60px;
                p{
                    color:#707070;
                    font-size: 24px;
                    margin: 0;
                }
                .artworkQuantity{
                    width: 45.5%;
                    height: 48px;
                    border: 2px solid #B1B1B1
                }
            }
            
            .headeruploadArtwork {
                font-size: 24px;
                margin: 0;
            }
        }
    
    //button 
    .buttonContainer{
        display: flex;
        justify-content: flex-end;
        margin-top:70px ;
    }
    .customizedButton{
        width: 52%;
        background-color: #00707E;
        border-radius: 24px;
        height: 48px;
        border:none;
        outline: none;
        font-size: 24px;
        color: white;
        text-align: center;
    }
    //input inside select style
    .mainInputInsideSelect{
        width:100%;
        border:2px solid #B1B1B1;
        outline: none;
        padding-left:3%;
        height: 48px;
        margin-right: 4.56%
    }
    .inputInsideSelect {
        margin-top: 8px;
        border: none;
        max-width: 528px;
        position: absolute;
        width: 27.8%;
        padding:0;
        display: flex;
        flex-direction: column;
        // border:2px solid #B1B1B1;
        background-color: #e4e4e4;
        z-index: 999;
        
        label{
            display: flex;
            font-size: 24px;
            font-weight: 400;
        }  
    }
    .inputInsideSelectFormContainer {
         border:2px solid #B1B1B1;
         padding:15px;
         width: 98%;
         margin: auto;
         border-radius:4px
    }
    // .selectInputInLabelSpecification{
    //     width:100%;
    //     border:2px solid #B1B1B1;
    //     outline: none;
    //     padding-left:3%;
    //     height: 48px;
    // }
    .buttonsContainer{
        display: flex;
        justify-content: flex-end;
        margin: auto;
        .nextButton{
           @extend %button-style;

        }
    }
    .buttonsContainerSpace{
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-left: 10%;
        .nextButton{
           @extend %button-style;

        }
    }
    
    .othersButtonsContainer {
        button {
            margin-left:20px;
        }
    }
    .buttonsContainerEnd{
        display: flex;
        justify-content: flex-end;
        .nextButton{
            @extend %button-style;

        }
    }
    .buttonsContainerStart{
        display: flex;
        justify-content: flex-start;
        .nextButton{
            @extend %button-style;

        }
    }

.backButton {
    color:black;
    width: 16%;
    height: 48px;
    border-radius: 24px;
    background-color: #e4e4e4;
    font-size: 24px;
    border: none;
    outline: none;
    &:focus {
        border: none;
        outline: none;
    }
    
}
.inputSyleForShippingAddres {
    margin:24px 0 ;
    width: 100%;
    label {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        input {
             padding-left: 3%;
             height: 48px;
             background-color: #e4e4e4;
             border:2px solid #B1B1B1;
             font-size: 24px;
        }
    }

}
.changeAddresModal {
    //add min width to modale 
    min-width: 700px;
    .modal-content {
        .modal-header{
            display: none;
        }
        .modal-footer {
            display: flex;
            justify-content: space-between;
            width: 71.53%;
            margin: auto;
            margin-bottom: 24px;
            button {
                height: 40px;
                margin: 0;
                font-size: 16px;
                width: 35%;
                min-width: 100px;
            }
            
        }
    }
}
.containerFilesButton{
    .header{
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        margin-top: 24px;
    }
    .files-dropzone-list{
        margin-bottom: 24px;
        font-weight: bold;
    }
    
}
.fileModalContainer{
    max-width: 35%!important;
    top:15%;
   .files-list-item-content{
    display: flex;
    justify-content: space-between;
    .files-list-item-content-item{
        display: flex;
    }
    .files-list-item-content-name {
         width: 100%;
        white-space: normal;
        margin-right: 16px;
    }
}
    .modal-header {
        border-bottom: none;
        padding: 10px 10px 0 10px!important;
    }
    .modal-body {
        padding:0!important;
        width: 71.53%;
        margin: auto;
    }
    .modal-footer{
        border-top: none;
        padding: 0!important;
        button{
            border-radius:24px!important;
            width: 25%;;
            border:none;
            outline: none;
            background-color: #00707E!important;
        }
    }
   .fileContentClassName{
    min-height: 400px!important;
   }

}
//style of priceTable 
.fixedPosision {
    position: relative;
    bottom: -48px;
    left:-36%

}

.priceTableContainer {
    position: absolute;
    width: 40%;
    background-color: #018FA1;
    left:0;
    bottom:0;
    .closeIcon {
        color: white;
        display: flex;
        justify-content: flex-end;
        background-color: #018FA1;
        margin-right: 17px;
        svg {
            position: absolute;
            height: 32px;
            width: 32px;
            border-radius: 8px;
            top: -6px;
            background-color: #018FA1;
            padding-bottom: 5px;

            
        }
    }
    .quantityContent {
        width: 88%;
        margin: auto;
        margin-top:24px;
        max-height: 200px;
        overflow-y: scroll;
        padding: 10px 20px;
         
        .quantityHeaderContainer {
            display: flex;
            justify-content: space-between;
            p {
                max-width: 31%;
                color:white;
            }
        }
        .quantityDataContainer {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            cursor: pointer;
            div {
                width: 31%;
                border: 1px solid white;
                display: flex;
                align-items: center;
                p{
                    width: 100%;
                    margin: 0;
                    text-align: center;
                    padding:7px 0;
                    color: white;
                }
            }
        }
    }
    
    .priceContent {
        display: flex;
        flex-direction: column;
        width: 77%;
        margin: auto;
        div{
            display: flex;
            justify-content:space-between;
            color: white;
            font-size: 24px;
            align-items: center;
            .line {
                min-width: 10%;
                width: 80%;
                max-width: 100%;
                height: 1px;
                background-color: white;
                margin:0 8px;
            }
            p{
                margin:0;
                white-space: nowrap;
            }
        }
        .endLine {
            width: 100%;
            height: 2px;
            background-color: white;
            margin-top:16px;
            margin-bottom:10px;
        }
    }
    .totalPrice {
        width: 77%;
        display: flex;
        justify-content: space-between;
        margin: auto;
        color:white;
        font-size: 24px;
        font-weight: bold;
        margin-top: 7px;
        margin-bottom: 7px;
        p{
            margin: 0;
        }
    }
}
.detailsContent {
    width: 80%;
    margin: auto;
}
.deleteButton {
    height: 24px;
    position: relative;
    bottom:24px;
    left: 6px;
    color:white;
    cursor: pointer;
}
.productDetailsContainer {
    margin-left: 10%;
}
@media only screen and (max-width: 1810px) {
    .inputInsideSelect {
        width: calc(27.5% - 1.7px)!important;
    }

}
@media only screen and (max-width: 1700px) {
    .inputInsideSelect {
        width: calc(27.5% - 3px)!important;
    }
}
@media only screen and (max-width: 1600px) {
    .inputInsideSelect {
        width: calc(27.5% - 4.8px)!important;
    }
}
@media only screen and (max-width: 1500px) {
    .inputInsideSelect {
        width: calc(27.5% - 5.8px)!important;
    }
}
@media only screen and (max-width: 1450px) {
    .inputInsideSelect {
        width: calc(27.5% - 8.8px)!important;
    }
}
@media only screen and (max-width: 1400px) {
    .inputInsideSelect {
        width: calc(27.5% - 12px)!important;
    }
}
@media only screen and (max-width: 1550px) {
    
    .selectInput {
        height: 38px!important;
        font-size: 16px!important;
    }
    .rollParametersDiv{
        width: 44%;
        display: flex;
        flex-direction: column;
    }
    .multiselectSHeaderClassName {
        font-size: 16px;
     }
    .css-tlfecz-indicatorContainer{
        padding-top: 0!important;
        padding-bottom: 0!important;
    } 
    .informationAndLinesContainer{
        display: flex;       
        p{
            font-size: 16px!important;
        }
    } 
    .inputSyle{
        width: 100%;
        margin-bottom:32px!important;
        label{
            width: 100%;
            font-size: 16px!important;
        }
        input{
            height: 38px!important;
        }
    }
    .size{
        font-size: 16px!important;
        
    }
    .sizeDetails{
        margin-top:5px;
        display:flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 20px!important;
        .sizeInput{
            label{
                font-size: 16px!important;
            }
            input{
                height: 38px!important;
            }
        }
    }
    .labelSpecificationContent{
        :last-child{
            margin-bottom: 0!important;
        }
    }
    .chooseFile,.uploadFile{
        font-size: 16px!important;
    }
    .textareaContainer{
        p{
            font-size: 16px!important;
            margin: 0;
        }
        textarea{
            width: 100%;
            height: 110px!important;
            font-size: 16px!important;
        }
    }
    .selectInputInLabelSpecification{
        font-size: 16px!important;
        height: 38px!important;
    }
    .mainInputInsideSelect {
        font-size: 16px!important;
        height: 38px!important; 
    }
    .inputInsideSelect {
        label{    
            font-size: 16px!important; 
        }  
    }
    .customizedButton{
        height: 40px!important;
        font-size: 16px!important;   
    }
    .buttonsContainer{
        button{
            height: 40px!important;
            font-size: 16px!important; 
        }
    }
    .buttonsContainerEnd{
        button{
            height: 40px!important;
            font-size: 16px!important; 
        }
    }
    .buttonsContainerStart{
        button{
            height: 40px!important;
            font-size: 16px!important; 
        }
    }
    .filesHeader,.changedAddress{
        font-size: 16px!important;
 
    }
    .changeAddresContainer{
        .addressChangefield{
            span, .changeAddres, .changedAddress {
                font-size: 16px!important;
            }
        }
        .checkbox{
            font-size: 16px!important;
            input{
                height: 12px!important;
                width: 12px!important;
               
            }
        }
    }   
   
}
  
  

