//carousel part style
.homeContainer{
    margin-bottom: 48px;
    margin-top: 24px;
    .active{
        background-color: #71a9b0 !important;
     
    }
    li{
        border:2px solid white !important;
        background-color: white  !important;
        margin-right: 2%!important;
        text-indent: 0 !important;
        opacity: 1!important;
    }
     
    .carouselContainer{
        display: flex;
        flex-direction: column;
        .z-depth-1{
            max-height: 480px;
        
        }
        .container{
            margin:0;
            padding: 0;
            max-width: 100%;
        }
        .carouselContent{
            height: fit-content;
            max-height: 480px;
        }
        .carousel-inner{
            max-height: 480px;
        }
    }
    
    .productContainerHome{
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        div:nth-child(3n){
            margin-right: 0; 
        }
    }

    .productHeaderField{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
        span{
        font-size: 32px;
        font-weight: bold;
        margin-top:24px; 
        }
    }
    .moreProductButton{
        display: flex;
        justify-content: flex-end;
        span{
            font-size: 24px;
            cursor: pointer;
            text-decoration: underline;
           
            &:hover {
                color:#00707E;
                transition: all ease-in-out 1s;
               
            }
        }
        
    }
 
    //about us part styling
    .aboutCompanyContainer{
        margin-bottom:48px;
        .aboutCompanyHeaderField{
            display: flex;
            justify-content: center;
     
            span{
                font-size: 32px;
                font-weight: bold;
            }
        }
        .textAboutCompany{
            color: #000000;
            font-size: 24px;
            font-weight: 400;
            margin-top:24px;
            margin-bottom: 36px;
        }
        .moreInformationButton{
            display: flex;
            justify-content: flex-end;
            margin:24px 0;
            span{
                font-size: 24px;
                cursor: pointer;
                text-decoration: underline;
                transition: all ease-in-out 1s;
                &:hover {
                    color:#00707E;   
                }
            }
            
        }
         
    }
    
}
//media from 1550px
@media only screen and (max-width: 1550px) {
    .companyMainInformation{
        span{
           font-size: 16px!important;
           font-weight: 400!important;
            // white-space:normal 
        }
    }
    .socialInformation{
        span{
            font-size: 16px !important;
            font-weight: 400!important;
            text-align: center;
        }
    }
    .textAboutCompany{
        font-size: 16px!important;
        font-weight: 400;
    }
    .moreInformationButton{
        span{
            font-size: 16px!important;
        }
    }
    .moreProductButton{
        span{
            font-size: 16px!important
        }
    }
}
@media only screen and (max-width: 1024px) {
    .productHeaderField{
        margin: 21px 0 12px 0!important;
        span{
        font-size: 16px!important;
        font-weight: bold;
        margin-top:0!important; 
        }
    }
    .companyMainInformation{
        span{
           font-size: 12px!important;
           font-weight: 400!important;
            // white-space:normal 
        }
    }
    .socialInformation{
        span{
            font-size: 12px !important;
            font-weight: 400!important;
            text-align: center;
        }
    }
    .textAboutCompany{
        font-size: 12px!important;
        font-weight: 400;
    }
    .moreInformationButton{
        span{
            font-size: 12px!important;
        }
    }
    .moreProductButton{
        span{
            font-size: 10px!important
        }
    }
    .aboutCompanyContainer{
        margin-bottom:32px;
        .aboutCompanyHeaderField{
            span{
                font-size: 16px!important;
            }
        }
        .textAboutCompany{
            color: #000000;
            font-size: 12px;
            font-weight: 400;
            margin-top:12px!important;
            margin-bottom: 21px!important;
        }
        .moreInformationButton{
            margin:12px 0!important;
            span{
                font-size: 10px!important;
            }
            
        }
         
    }
    .homeContainer{
        li{
            border:1px solid white !important;
            
        }
    }
}
 //about us part styling
 