.modalForAddresses{
    margin: 30px;
    display: flex;
    justify-content: flex-start;

}
.modalForEditingAddress {
    cursor: pointer;
    margin-bottom:10px;
}
.modalContentContainer{
   
    display: flex;
    flex-direction: column;
    margin: auto;
}
.modalInputClassName{
    label{
        display: flex;
        flex-direction: column;
    }
}
.containerOfSelectInput {
    display: flex;
}
.shippingAddresses {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.secondDiv,.firstDiv {
    display: flex;
    flex-direction: column;
    span{
        text-align: start;
    }
}
.shippingAdressesContent {
    background-color: white;
    display: flex;
    width: 85%;
    margin:auto;
    flex-direction: column;
}