.archivedOrderContainer{
    .filtersContainer{
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
    }
    .archivedOrderHeader{
        font-size: 32px;
        font-weight: bold;
        text-align: center;
    }
    .filterWithName{
        display:flex;
        flex-direction: column;
        width: 44%;
        font-size: 24px;
        font-weight: bold;
        input{
            width: 100%;
            height: 48px;
            border: 2px solid #B1B1B1;
            background-color: #e4e4e4;
            padding-left: 15px;
            outline: none;
        }
    }
    .calendarWrapper{
        display: flex;
        flex-direction: column;
        width: 20%;
        .calendarDate{
            display: flex;
            justify-content:space-between;
            align-items: center;
            border: 2px solid #B1B1B1;
            height: 48px;
            width: 100%;
            img{
                margin-left: 12%;
            }
        }
        .headerCalendar{
            font-size: 24px;
            font-weight: bold;
        }
        .react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected{
            background-color: #00707E;
        }
        .react-datepicker-wrapper{
            width: 65%;
            .react-datepicker__input-container{
                width: 100%;
            }
        }
        .inputCalendar{
            border: 1px solid #B1B1B1;
            border-right: none;
            border-left: none;
            outline: none;
            width: 100%;
            background-color: #e4e4e4;
            height: 46px;
            padding-left: 12%;
            margin-right: 12%;
        }
        .closeButton{
            color:#B1B1B1;
            font-size: 24px;
            margin-right: 5%;
        }
        .showCalendar{
            color: #71A9B0;
            height: 25px;
            width: 25px;
        }
    }
    .emptyArchived{
        color: #707070;
        text-align: center;
    }
}
@media only screen and (max-width: 1550px) {
    .archivedOrderContainer{
        .filterWithName{
            font-size: 16px!important;
            font-weight: bold;
            input{
                height: 32px!important;
            }
        }
        .calendarWrapper{
            .calendarDate{
                height: 32px!important;
            }
            .headerCalendar{
                font-size: 16px!important;
      
            }
            .inputCalendar{
                height: 30px!important;
            }
            .closeButton{
                font-size: 16px!important;
            }
            .showCalendar{
                height: 18px;
                width: 18px;
            }
        }
    }  
}