 %progress-style {
    content: " ";
    position: absolute;
    display: block;
    width: 20%;
    height: 100%;
    top: 0;
    left: 80%;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
 }
 .orderFilterField {
     margin-bottom:48px;
     display: flex;
     justify-content:space-between;
     align-items: center;
     .headerForFilter{
         font-size: 24px;
         font-weight: bold;
     }
     .filterInputContainer{
         width: 44%;
     }
     form,label{
         width: 100%;
      label{
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            white-space: nowrap;
            select{
                width: 81.8%;
                height: 48px;
                padding-left: 3%;
                margin-left:1.67%;
                background-color: #e4e4e4;
                border:2px solid #B1B1B1;
                font-size: 24px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                -webkit-appearance: none;
                -moz-appearance: none;
                background-image: url('../../../assets/icons/Polygon 1.png');
                background-size: 12px 8px;
                background-repeat: no-repeat;
                background-position:
                calc(100% - 15px) calc(20px),
                100% 0;
                outline: none;  
          }
      }   
     }
     

 }
 .openOrderContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
    .productInformation{
        display: flex;
        margin-bottom: 24px;
     
        span{
            font-size: 24px;
            white-space: nowrap;
        }
        .line{
            width: 4%;
            height: 1px;
            background-color: #B1B1B1;
            display:flex;
            align-self: center;
            margin:0 1%;
        }
    }
    .progressContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .progressLess50{
            width: 75.5%;
            height: 32px;
            border:2px solid #B1B1B1;
            .progress-bar{
                background-color: #B1B1B1;
                position: relative;
            }
            .progress-bar:after {
                @extend %progress-style;
                background: #B1B1B1;
                 
            };
        }
        .progressEqual100{
            width: 75.5%;
            height: 32px;
            border:2px solid #B1B1B1;
            .progress-bar{
                background-color: #00707E;
                position: relative;
            }
            .progress-bar:after {
                @extend %progress-style;
                background: #00707E;    
            };
        }
        .progressMore50{
            width: 75.5%;
            height: 32px;
            border:2px solid #B1B1B1;
            .progress-bar{
                background-color: #71A9B0;
                position: relative;
            }
            .progress-bar:after {
                @extend %progress-style;
                background: #71A9B0;   
            };
        }
    }
    .changeButton{
        border: none;
        background-color: #e4e4e4;
        outline: none;
        font-size: 24px;  
    }
 }
 .openOrderContainer{
     display: flex;
     flex-direction: column;
     .headerOpenOrders {
         text-align: center;
         font-size: 32px;
         font-weight: bold;
         margin-bottom: 16px;
     }
 }
 @media only screen and (max-width: 1550px) {
    .orderFilterField {
        .headerForFilter{
            font-size:16px!important;
        }
        form,label{
          
            label{
                display: flex;
                align-items: center;
                font-size: 16px ;
                select{
                    font-size:16px!important;
                    height: 32px;
                    background-position:
                    calc(100% - 15px) calc(12px),
                    100% 0; 
                }
            }   
        }
    } 
    .productInformation{
        span{
            font-size: 16px!important;
           }     
       }
       .changeButton{
       
           font-size: 16px!important;  
       }
    }
    