.contactsContainer {
    display: flex;
    flex-direction: column;
    min-height: 861px;
    max-width: 1200px;
    width: 100%;
    .contactHeader {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 104px;
    }
    .contactsDataContainer {
        display: flex;
        justify-content: space-between;
    }
    .contactInformationContainer {
        font-size: 24px;
        p{
            margin-bottom: 48px;
        }
    }
    .socialInformationContainer {
        display: flex;
        align-items: center;
        a {
            img{
                margin:0
            }
        }
        :not(:last-child) {
            margin-right: 32px
        }
       .socialInformationHeader {
           font-size: 24px;
           margin-right: 16px;
       }  
    }
     
}
.mapContainer {
    max-height: 409px;
    
}
.btn-secondary:not([disabled]):not(.disabled):active {
    background-color: #00707E !important
}
@media only screen and (max-width: 1550px) {   
    .contactInformationContainer {
        font-size: 16px!important;
        p{
            margin-bottom: 32px!important;
        }
    }
    .mapContainer {
        max-height: 350px;
    }
    .contactsContainer {
        min-height: 722px;
    }
}