.mainContainer {
    width: 100vw;
    background-color: #e4e4e4;
    max-width: 1920px;
    display: flex;
}
.mainContent {
    width: 80.83%;
    display: flex;
    margin: auto;
}
.routersContainer {
    margin-left: 3.3%;
    width: 84%;

   
}
.upButtonContainer{
    display: flex;
    align-items: flex-end;
    // margin-left: 8.88%;
    margin-left: 3.12%;
    .topButton{
        position: relative;
        margin-bottom: 48px;
        height:64px;
        width: 64px;
        border-radius: 50%;
        background-color: white;
        border:2px solid #00707E;
    
        img{
            height: 25px;
            width: 28px;
            margin-left:16px;
            margin-top:18px;
        }
    }
    .upButton{
        position: relative;
        margin-bottom: 48px;
        height:64px;
        width: 64px;
        border-radius: 50%;
        background-color: #71A9B0;
    
    
        img{
            height: 25px;
            width: 28px;
            margin-left:18px;
            margin-top:18px;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .upButtonContainer{
        display: flex;
        align-items: flex-end;
        // margin-left: 8.88%;
        margin-left: 3.12%;
        .topButton{
            position: relative;
            // margin-bottom: 48px;
            height:48px;
            width: 48px;
            display: flex;
            align-items: center;
        
            img{
                height: 16px;
                width: 17px;
                margin-left:14px;
                margin-top:0;
            }
        }
    }
}
@media only screen and (max-width: 1024px) {
    .topButton{
        height:40px!important;
        width: 40px!important;
            img{
                height: 14px!important;
                width: 15px!important;
                margin-left:11px!important;
                margin-top:0;
            }
        }
}
 