.passwordResetContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:24px 0 48px 0;
    .resetPasswordLogo{
        width: 169px;
        height: 148px;
        margin: auto;
        margin-bottom: 48px;
        cursor: pointer;
    }
    p{
        font-size: 18px;
        color:grey;
        font-weight: 600;
    }
    .resetPasswordButton{
        width: 70%;
        margin: auto;
        height: 48px;
        background-color: #00707E;
        border-radius: 42px;
        font-size: 24px;
        color:white;
        border: none;
        outline: none;
        margin-top:24px;
    };
    form,label,input{
        width: 100%;
        height: 48px;
    }
    form{
        margin-bottom: 32px;
    }
    input {
        border:2px solid #B1B1B1;
        background-color: #FFFFFF;
        outline: none;
        color:#B1B1B1;
        font-size: 24px;
        padding-left: 18px;
    }
}
@media only screen and (max-width: 1550px) {
    .passwordResetContainer{
        margin:18px 0 40px 0;
        .resetPasswordLogo{
            margin-bottom: 32px;
        }
        p{
            font-size: 16px;
            color:grey;
            font-weight: 600;
        }
        .resetPasswordButton{
            width: 60%;
            height: 32px;
            border-radius: 42px;
            font-size: 16px;
            margin-top:16px;
        };
        form,label,input{
            width: 100%;
            height: 32px;
            font-size: 16px;
        }
        form{
            margin-bottom: 24px;
        }
        input {
            font-size: 16px;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .passwordResetContainer{
        margin:18px 0 24px 0;
        .resetPasswordLogo {
            width: 102px;
            height: 89px;
            margin-bottom: 21px;
        }
        .resetPasswordLogo{
            margin-bottom: 24px;
        }
        p{
            font-size: 12px;
            color:grey;
            font-weight: 600;
        }
        .resetPasswordButton{
            width: 60%;
            height: 28px;
          
            font-size: 12px;
            margin-top:16px;
        };
        form,label,input{
            width: 100%;
            height: 28px;
            font-size: 12px;
        }
        form{
            margin-bottom: 24px;
        }
        input {
            font-size: 12px;
        }
    }
}