*{
    font-family: 'Segoe UI';
}
.headerContainer {
    max-width: 1920px;
    background-color: #e4e4e4;
    width: 100vw;
    height: 136px;
    border-top: 134px solid #00707E;
    border-left: 1920px solid #e4e4e4;
}
.headerWrapper {
    width: fit-content;
    position: absolute;
    top: 0;
    right: 0;
    margin-right:calc((100vw * 12.1)/100 + 64px);
    
    margin-top:1%;
    .headerContent{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    a {
        font-size: 24px;
        text-decoration: none!important;
        white-space: nowrap;
        color: white;
        margin-right: 48px;
        &:hover{
            color: white;  
        }
    }
    .shoppingCart {
        color:white;
        height: 42px;
        width: 48px;
        // margin-right: 48px;
        cursor: pointer;
    }
    //dropdown styling
    .dropdown {
        margin-right: 33px;
        
    .show  {
        border-top-right-radius:0px;
        transform: translate3d(-115px, 33px, 10px) !important; 
        width: 100%;
        background-color: #018FA1;
        border: none;
        .dropdown-divider {
            width: 84%;
            height: 1px;
            margin: auto
        }
    }
    }
    .headerHover {
        margin: 6.5px 0;
        color: white;
        border-bottom-right-radius:0px;
    }
    .headerHover:hover{
    
        background-color: white;
    } 
    .toggle{
        border-bottom-right-radius:0px;
        border-bottom-left-radius:0px;
        background-color: #00707E!important;
        border:none!important;
        font-size: 24px!important;
        text-decoration: none!important;
        color: white!important;
        padding: 0 ;
        margin: 0;
        box-shadow: none;
        text-transform: none;
        &:hover{
            box-shadow: none;
            background-color: #018FA1!important;
        }
        span {
            padding: 0 15px;
        }
    }
    .dropDownMenu {
        width: fit-content!important;
    }
    .dropdown .dropdown-menu .dropdown-item:active  {
        background-color: white!important;
        color:white;
        outline: none;
    }
    .languageAndPolygonContainer{
        display: flex;
        flex-direction: column;
        align-items:center;
        span {
            font-size: 24px;
            text-decoration: none;
            color: white;
        }
        img{
            height: 8px;
            width: 15px;
        }
    }
    .cartQuantity{
        border-radius: 50%;
        background-color: #FF3302;
        height: 24px;
        width: 24px;
        position: relative;
        bottom:50px;
        left: 35px;
        color:white;
        span{
            display: flex;
            justify-content: center;
            align-content: center;
        }
    }
}
@media only screen and (min-width: 1921px) {
    .headerWrapper {
        width:fit-content;
        // max-width: 610px;
        position: absolute;
        top: 0;
        right: 0;
        padding-right: 310px;
        margin-right: calc((100vw - 1920px)/2);  
        margin-top:1%;
    }   
}
@media only screen and (max-width: 1919px) {
    .headerContainer {
        border-top: 135px solid #00707E;
        border-left: 100vw solid #e4e4e4;
    }
}
@media only screen and (max-width: 1550px) {    
    .headerWrapper {
        top: 1%;
        a {
            font-size: 16px;
            text-decoration: none;
            white-space: nowrap;
            color: white;
            margin-right: 30px;
            &:hover{
                color: white;  
            }
        }
        .shoppingCart {
            color:white;
            height: 30px;
            width: 30px;
            margin-right: 30px;
         
        }
         
        .toggle{
            font-size: 16px!important;
        }
        .languageAndPolygonContainer{
            display: flex;
            flex-direction: column;
            align-items:center;
            span {
                font-size: 16px;
            }
            img{
                height: 6px;
                width: 12px;
            }
        }
        .cartQuantity{
            height: 20px;
            width: 20px; 
            bottom:40px;
            left: 23px;
            span{
                font-size: 14px;
                margin: 0;
            }
        }  
    }
}
@media only screen and (max-width: 1024px) {
    .headerWrapper{
        margin-top:0;
    }
    .headerContainer{
        width: 100vw;
        height: 90px!important;
        border-top: 91px solid #00707E;
        border-left: 100vw solid #e4e4e4;
    }
    
   .dropdown {
       margin-right: 16px!important;
   }
    .headerWrapper {
        a {
            font-size: 12px;
            margin-top:4px;
            margin-right: 16px;
            &:hover{
                color: white;  
            }
        }
        .shoppingCart {
            color:white;
            height: 20px;
            width: 20px;
            margin-right: 16px;
        }
         
        .toggle{
            font-size: 16px!important;
        }
        .languageAndPolygonContainer{
            span {
                font-size: 12px;
            }
            img{
                height: 6px;
                width: 12px;
            }
        }
        .cartQuantity{
            height: 16px;
            width: 16px; 
            bottom:30px;
            left: 18px;
            span{
                font-size: 10px;
                margin: 0;
            }
        }  
    }
    .profileToggle{
        font-size: 12px;
    }
}
@media only screen and (max-width: 1024px) {
    .headerWrapper{
        margin-top:0;
        margin-right:calc((100vw * 12.1)/100 + 24px);
    }
    .headerContainer{
        width: 100vw;
        height: 80px!important;
        border-top: 82px solid #00707E;
        border-left: 100vw solid #e4e4e4;
    }
   
    
}
