.signInInputsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    form,label,input{
        width: 100%;
        height: 48px;
    }
    form{
        margin-bottom: 32px;
    }
    input {
        border:2px solid #B1B1B1;
        background-color: #FFFFFF;
        font-size: 24px;
        padding-left: 18px;
    }
    .checkboxContainer{
        display: flex;
        width: fit-content;
        margin: auto;
        height: fit-content;
        font-size: 24px;
        color: #707070;
    }
    .checkbox{
        display: flex;
        align-self: center;
        margin-right: 8px; 
        width: 18px;
        height: 18px;
    }
    .forgotPassword{
        text-align: center;
        font-size: 16px;
        color: #707070;
        cursor: pointer;
    }
    .buttonSignIn{
        width: 60%;
        margin: auto;
        height: 48px;
        background-color: #00707E;
        border-radius: 42px;
        font-size: 24px;
        color:white;
        border: none;
        outline: none;
    };
}
.signInWrapper{
    display: flex;
    margin: auto;
    flex-direction: column;
    .mainLogoSignIn {
        width: 169px;
        height: 148px;
        margin: auto;
        margin-bottom: 48px;
        cursor: pointer;
    }
}
.signInModalContainer{
    width: 43%;
    top:15%;
    .modal-header {
        border-bottom: none;
        padding: 10px 10px 0 10px!important;
    }
    .modal-body {
        padding:0!important;
        width: 71.53%;
        margin: auto;
    }
    .modal-footer{
        border-top: none;
        padding: 0!important;
    }

}
.error {
    text-align: center;
    color:red
}
 //facebook and Google+ button styleing
 .facebookAndGoogleSignInContainer{
     margin: auto;
     display: flex;
     margin-top:40px;
     margin-bottom: 32px;
     .socialIconsSpan{
         font-size: 24px;
         display: flex;
         align-self:center;
     }
 }
 .facebookButton{
     background-color: white;
     border:none;
     outline: none!important;
     margin:0 16px  0 14px;
 }
 .googleButton{
    background-color: white;
    border:none;
    outline: none!important;
    box-shadow: none!important;
    span{
        padding: 0!important;
    }
 }
 @media only screen and (max-width: 1550px) {
    .signInInputsContainer{
        form,label,input{
            width: 100%;
            height: 32px!important;
        }
        form{
            margin-bottom: 24px;
        }
        input {
       
            font-size: 16px;
            padding-left: 12px;
        }
        .checkboxContainer{
            font-size: 16px;
        
        }
        .checkbox{
            width: 16px;
            height: 16px;
        }
        .forgotPassword{ 
            font-size: 12px;
        }
        .buttonSignIn{
            height: 32px;
            font-size: 16px   
        };
    }
    .signInWrapper{
        display: flex;
        margin: auto;
        flex-direction: column;
        .mainLogoSignIn {
            width: 169px;
            height: 148px;
            margin: auto;
            margin-bottom: 48px;
        }
    }
    
     //facebook and Google+ button styleing
     .facebookAndGoogleSignInContainer{
         margin-top:32px;
         margin-bottom: 24px;
         .socialIconsSpan{
             font-size: 16px;
         }
         img{
             height: 40px;
         }
     }
     .facebookButton{
         background-color: white;
         border:none;
         outline: none!important;
         margin:0 10px  0 8px;
     }
     
 }
 @media only screen and (max-width: 1024px) {
    .signInModalContainer{
        width: 55%!important;
        top:10%
    }
    .signInInputsContainer{
        form,label,input{
            width: 100%;
            height: 28px!important;
        }
        form{
            margin-bottom: 16px;
        }
        input {
       
            font-size: 12px;
            padding-left: 12px;
        }
        .checkboxContainer{
            font-size: 12px;
            align-items: center;
        
        }
        .checkbox{
            width: 12px;
            height: 12px;
        }
        .forgotPassword{ 
            font-size: 12px;
        }
        .buttonSignIn{
            height: 28px;
            font-size: 12px   
        };
    }
    .signInWrapper{
        .mainLogoSignIn {
            width: 102px;
            height: 89px;
            margin-bottom: 21px;
        }
    }
    
     //facebook and Google+ button styleing
     .facebookAndGoogleSignInContainer{
         margin-top:16px;
         margin-bottom: 16px;
         .socialIconsSpan{
             font-size: 12px;
         }
         img{
             height: 32px;
         }
     }
     .facebookButton{
         background-color: white;
         border:none;
         outline: none!important;
         margin:0 10px  0 8px;
     }
     
 }