 
.createAccountMain {
    width: 100%;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    margin-top:36px;
    margin-bottom: 36px;
    img{
        width: 169px;
        height: 148px;
        margin: auto;
        margin-bottom: 21px;
        cursor: pointer;
    }
    .formContainer{
        display: flex;
        flex-direction: column;
        width: 100%;
        .inputsContainer{
            display: flex;
            width: 100%;
            justify-content: space-between;
             .firstDivForInputs,.secondDivForInputs{
                width: 48.38%;
                span{
                     font-size: 24px;
                     padding-left: 3.75%;
                     line-height: 32px;
                     
                }
            }
            label{
                display: flex;
                flex-direction: column;
                input {
                    margin-top:5px;
                    border: 2px solid #B1B1B1;
                    border-radius: 2px;
                    height: 48px;
                    width: 100%;
                    display: block;
                    padding-left: 3.75%;
                    font-size: 24px;
                }
            }
        }
    }
    .formOtherDetails{
        width: 60%;
        margin: auto;
        .permition{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 24px;
            .radioInputsContainer{
                 width:45%;
                 display: flex;
                 justify-content: space-between;
                 margin-top:24px;
                 input{
                     width: 18px;
                     height: 18px;
                     background-color: white;
                 }
         
            }
        }
    }
    .uploadFileSpan {
        font-size: 16px;
    }
    .files-dropzone{
        font-size: 16px;
    }
    .checkAgreement{
        display: flex;
        justify-content: center;
        span{
            white-space: nowrap;
        }
        input{
            display: flex;
            align-self: center;
            margin-right: 3px;
        }
        .privacyPolicy{
            text-decoration: underline;
            cursor: pointer;
        }
        .termOfUsePage{
            margin-left:5px;
            cursor: pointer;
        }
    }
    .buttonContainer{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top:32px;
        .cancel{
            width: 42.5%;
            border-radius:42px;
            border:2px solid #B1B1B1;
            color:#B1B1B1;
            height: 48px;
            font-size: 24px;
            outline: none;
            background-color: white;
        }
        .signUp {
            width: 42.5%;
            border-radius:42px;
            border:none;
            color:white;
            height: 48px;
            font-size: 24px;
            outline: none;
            background-color: #00707E;

        }
        .signUpDisabled{
            width: 42.5%;
            border-radius:42px;
            border:none;
            color:white;
            height: 48px;
            font-size: 24px;
            outline: none;
            background-color: #00707E;
            opacity: 0.5;

        }
    }
}
//modal style
.signUpModalContainer{
    max-width: 1134px!important;
    width: 60%;
    top:10%;
    .modal-header {
        display: none;
    }
    .modal-body {
        padding:0!important;
        width: 87.47%;
        margin: auto;
    }
    .modal-footer{
      display: none;
    }
}
.containerFile {
    display: flex;
}
.file-list-item-content-name {
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 25px;
}
.uploadFileSpan {
    margin-bottom: 20px;
}
.files-dropzone {
    margin-right: 20px;
}
.files-remove {
    font-size: 16px;
    cursor: pointer;
}
.chooseFile {
    cursor: pointer;
    font-weight: bold
}
@media only screen and (max-width: 1919px) {
    .signUpModalContainer{
        max-width: 60%!important;
    }     
}
@media only screen and (max-width: 1550px) {
    .createAccountMain {
        margin-bottom: 0;
        margin-top:24px;
        .formContainer{
            .inputsContainer{
                 .firstDivForInputs,.secondDivForInputs{
                    width: 48.38%;
                    span{
                         font-size: 16px;
                         line-height: 24px;
                    }
                }
                label{
                    input {
                        height: 32px;
                        font-size: 16px;
                        color: #B1B1B1;
                    }
                }
            }
        }
        .formOtherDetails{
            .permition{
                font-size: 16px;
                .radioInputsContainer{
                     margin-top:12px;
                     input{
                         width: 16px;
                         height: 16px;
                         background-color: white;
                     }
             
                }
            }
        }
        .uploadFileSpan,  .files-dropzone {
            font-size: 12px;
        }
    
        .buttonContainer{
            margin-top:24px;
           
            .signUp,.cancel,.signUpDisabled {
                height: 32px;
                font-size: 16px;
            }
        }
    }
 
    
}
.error{
    margin:0
}
@media only screen and (max-width: 1024px) {
    .checkAgreement{
        span{
            font-size: 12px;
        }
    }
    .createAccountMain {
        margin-bottom: 0;
        margin-top:16px;
        img{
        width: 102px;
        height: 89px;
        margin: auto;
        margin-bottom: 21px;
        cursor: pointer;
        }
    }
    .signUpModalContainer{
        max-width: 70%!important;
        top:5%
    }
    .createAccountMain {
        .formContainer{
            .inputsContainer{
                 .firstDivForInputs,.secondDivForInputs{
                    width: 48.38%;
                    span{
                         font-size: 12px;
                         line-height: 12px;
                    }
                }
                label{
                    input {
                        margin-top:3px;
                        height: 28px;
                        font-size: 12px;
                    }
                }
            }
        }
        .formOtherDetails{
            .permition{
                font-size: 12px;
                .radioInputsContainer{
                     margin-top:8px;
                     input{
                         width: 12px;
                         height: 12px;
                         background-color: white;
                     }
             
                }
            }
        }
        .uploadFileSpan,  .files-dropzone {
            font-size: 12px;
        }
    
        .buttonContainer{
            margin-top:16px;
            margin-bottom: 16px;
            font-size: 12px;
            .signUp,.cancel,.signUpDisabled {
                height: 32px;
                font-size: 16px;
            }
        }
    }  
} 
