.sideBarContainer{
    display: flex;
    flex-direction: column;
    width: 13.3%;

}
 .ordersContainer{
    display: flex;
    flex-direction: column;
    span{
        color: #000000;
        font-family: "Segoe UI";
        font-size: 24px;
        font-weight: 700; 
        margin-bottom: 31px;
    }
    .standartProduct,.archivedProduct,.inProcessProduct,.customizedProduct{
        display: flex;
        margin-bottom: 48px;
        &:hover {
            .circle{
                background-color:#00707e;
                transition: all ease-in-out 1s;
            }
        }
    }
    a{
        color: #707070;
        font-family: "Segoe UI";
        font-size: 24px;
        font-weight: 400;
        margin:  0 0 0 5px;
        text-decoration: none!important;
        
        &:hover{
            color: #00707e; 
   
            transition: all ease-in-out 1s;
       
           
            
        }
    }
    .circle{
        height:24px;
        width: 24px;
        border-radius: 50%;
        background-color: #707070;
        margin-top:5px;

    }
    .circleActive{
        height:24px;
        width: 24px;
        border-radius: 50%;
        background-color: #00707e;
        margin-top:5px;
    }
 }
.registrationButtonsContainer {
    width: 100%;
    margin-bottom: 48px;
    .signUpButtonContainer,.signInButtonContainer{
    width: 100%;
    display: flex;
    }
    .signInButton {
        text-decoration: none;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
        height: 48px;
        background-color: #00707e;
        border:none;
        outline: none;
        color: #ffffff;
        font-family: 'Segoe UI';
        font-size: 24px;
        font-weight: 400;
    }
    .signUpButton {
        text-decoration: none;
        margin-bottom: 0;
        text-align: center;
        width: 100%;
        height: 48px;
        background-color:  #ff3302;
        border:none;
        outline: none;
        color: #ffffff;
        font-family: 'Segoe UI';
        font-size: 24px;
        font-weight: 400;
    }
    .socialIconsContainer{
        display: flex;
        justify-content: center;
        margin:16px 0 48px 0;
        img{
            height: 48px;
            width: 48px;
            &:hover {
                height: 52px;
                width: 52px;   
                
            }
        }

        .facebookAndGoogleSignInContainer{
            margin: 0;
        }
        .facebookButtonInSideBar{
            margin-right: 10%!important;
            border:none;
            outline: none!important;
            background-color: #e4e4e4;
        }
        .googleButtonInSideBar {
            border:none;
            outline: none!important;
            box-shadow: none!important;
            background-color: #e4e4e4!important;
            span{
                padding: 0!important;
            }
        }
    }
}
.mainLogo {
    position: relative;
    top:-40px;
    cursor: pointer;
    img {
        width: 146px;
        height: 128px;
        
    }
}
@media only screen and (max-width: 1550px) {

    .ordersContainer{
        display: flex;
        flex-direction: column;
        span{
            color: #000000;
            font-family: "Segoe UI";
            font-size: 16px;
            font-weight: 700; 
            margin-bottom: 20px;
        }
        .standartProduct,.archivedProduct,.inProcessProduct,.customizedProduct{
            display: flex;
            margin-bottom: 30px;
        }
        a{
            color: #707070;
            font-family: "Segoe UI";
            font-size: 16px;
            font-weight: 400;
            text-decoration: none;
            margin:  0 0 0 5px;
        }
        .circle{
            height:16px;
            width: 16px;
            border-radius: 50%;
            background-color: #707070;
            margin-top:5px;
        }
        .circleActive{
            height:16px;
            width: 16px;
            border-radius: 50%;
            background-color: #00707e;
            margin-top:5px;
        }
     }
    .registrationButtonsContainer {
        width: 100%;
        .signInButton {
            width: 100%;
            height: 30px;
            background-color: #ff3302;
            border:none;
            outline: none;
            color: #ffffff;
            font-family: 'Segoe UI';
            font-size: 16px;
            font-weight: 400;
        }
        .signUpButton {
            width: 100%;
            height: 30px;
            background-color:  #00707e;;
            border:none;
            outline: none;
            color: #ffffff;
            font-family: 'Segoe UI';
            font-size: 16px;
            font-weight: 400;
        }
        .socialIconsContainer{
            display: flex;
            justify-content: center;
            margin:12px 0 30px 0;
            .facebook{
                margin-right: 8.3%;
            }
        }
    }
  
}
@media only screen and (max-width: 1200px) {
.mainLogo {
    position: relative;
    top:-40px;
    cursor: pointer;
    img {
        width: 110px;
        height: 100px;
    }
    }
}
@media only screen and (max-width: 1024px) {
    .sideBarHeader{
        font-size: 16px!important;
    }
    .mainLogo {
        position: relative;
        top:-40px;
        cursor: pointer;
        img {
            width: 80px;
            height: 70px;
        }
        }
        .ordersContainer{
            span{
                font-size: 12px;
            }
            a{
                font-size: 12px;
            }
            .circle{
                height:12px;
                width: 12px;
            }
            .circleActive{
                height:12px;
                width: 12px;
            }
         }
        .registrationButtonsContainer {
            .signInButton {
                font-size: 12px;
                height: 22px;
            }
            .signUpButton {
                font-size: 12px;
                height: 22px;
            }
            .socialIconsContainer{
                display: flex;
                justify-content: center;
                margin:12px 0 20px 0;
                img{
                    height: 30px;
                    width: 30px;
                }
            }
        }
      
    }
    @media only screen and (max-width: 768px) {
        .mainLogo {
            position: relative;
            top:-40px;
            cursor: pointer;
            img {
                width: 65px;
                height: 57px;
            }
            }
            .registrationButtonsContainer {
                .signInButton {
                    font-size: 12px;
                    height: 22px;
                }
                .signUpButton {
                    font-size: 12px;
                    height: 22px;
                }
                .socialIconsContainer{
                    display: flex;
                    justify-content: center;
                    margin:5px 0 23px 0;
                    img{
                        height: 21px;
                        width: 21px;
                    }
                    .facebook{
                        margin-right: 5.3%;
                    }
                }
            }
          
        }