@import '../../helper/selectWithInput.scss';
%select-style {
    padding-left: 3%;
    width: 100%;
    height: 48px;
    margin-left:1.67%;
    background-color: #e4e4e4;
    border:2px solid #B1B1B1;
    font-size: 24px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../../../assets/icons/Polygon 1.png');
    background-size: 12px 8px;
    background-repeat: no-repeat;
   background-position:
    calc(100% - 15px) calc(20px),
    100% 0;
    outline: none;  
}
%button-style {
    width: 16%;
    height: 48px;
    border-radius: 24px;
    background-color: #00707E;
    font-size: 24px;
    color: white;
    border: none;
    outline: none;
}
.cartProductContainer {
    .headerOfCart {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 24px;
    }
    .cartProductDetailsWrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 64px;
    }
    .actionContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }
    .productName {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .line {
        width: 56.75%;
        max-width: 681px;
        height: 1px;
        background-color: #707070
    }
    .orderDetailsButton,.orderButton {
        border: none;
        background-color: #e4e4e4;
        outline: none;
        text-decoration: underline;
        font-size: 24px;
        color: #00707E;
    }
    .confirmation {
        p{
            margin-bottom: 0;
            color:#707070;
        }
        .trashIcon {
            height: 24px;
            width: 20px;
        }
    }
    .headerForCartData{
        font-size: 24px;
    }
    .resultheaderForCartData {
        font-size: 24px;
        font-weight: bold;
    }
}
// delete modal style 
.deleteModal{
    max-width: 590px!important;
    
    top:25%;
    display: flex;
    .modal-header {
        display: none;
    }
    .modal-body {
        padding:0!important;
        width: 84.06%;
        margin: auto;
        margin-top:42px;
    }
    .modal-footer{
        display: flex;
        justify-content: space-between;
        width: 84.06%;
        margin: auto;
        margin-bottom: 42px;
        margin-top:24px;
        padding: 0;
        border-top: none;
        button {
            width: 38.7%;
            height: 48px;
            border-radius: 24px;
            border: none;
            outline: none;
            font-size: 24px;
            text-transform: capitalize;
           
        }
        :first-child {
            color:#707070;
            background-color: white!important;
            border:1px solid #707070
        }
        .deleteButtonConformation {
            color:white;
            background-color: #00707E !important;
        }
    }
    .textAboutConformation {
        font-size: 32px;
    }
    
}
.cartInformation {
    text-align: center;
    font-size: 24px;
}
//cart order details styling
.orderDetailsContainer {
    margin-left: 10%;
    
    .orderDetailsHeader {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 24px;
        text-align: center
    }
    .orderMainDetails {
        margin-bottom: 24px;
        .headerOfMain {
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase
        }
    }
    .editDataContainer{
        margin-top:16px;
    }
    .headerForCartData{
        font-size: 24px;
    }
    .resultheaderForCartData {
        font-size: 24px;
        font-weight: bold;
    }
    .parametersHeader {
        font-size: 32px;
        text-align: center;
        margin-bottom: 32px;
    }
    .ordersDetailsFirstPartContainer,.ordersDetailsSecondPartContainer{
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;

    }
    .componentsHeader {
        font-size: 24px;
        font-weight: bold;
    }
    .editButtonModal {
        font-size: 24px;
        color:#00707E;
        text-decoration: underline;
        margin-top:16px;
        margin-bottom: 0;
    }
    .pageEndModal {
        text-align: end;
    }
    .priceContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin:48px 0;
    }
    .orderDetailsButtonContainer {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 48px;
        align-items: center;
        .confirmation {
            margin-right: 40px;
            p{
                margin-bottom: 0;
                color:#707070;
            }
            .trashIcon {
                height: 24px;
                width: 20px;
            }
        }
        .makeOrder {
            height: 48px;
            width: 36.25%;
            background-color: #00707E;
            border-radius: 24px;
            border: none;
            outline: none;
            color: white;
            font-size: 24px;
        }
    }
   
}
//customized label style
.labelSpecification{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    .labelHeader{
        font-size: 24px;
        margin:0;
        font-weight: bold;
        margin-bottom: 32px;
        margin-top:23px;
        text-align: center;
    }
    .labelSpecificationContent{
        display: flex;
        justify-content: space-between;
    }
    .labelDiv{
        width: 44%;
    }


.inputSyle{
    width: 100%;
    margin-bottom:32px;
    label{
        width: 100%;
        font-size: 24px;
        font-weight: bold;
    }
    input{
       
        width:100%;
        border:2px solid #B1B1B1;
        outline: none;
        padding-left:3%;
        height: 48px;
        background-color: #e4e4e4;
    }
}
.selectStyle{
    width: 100%;
    margin-bottom:32px;
    label{
        width: 100%;
        font-size: 24px;
        font-weight: bold;
       
    }
    select{
       
        @extend %select-style;
        margin: 0;
    }
}
.size{
    font-size: 24px;
    font-weight: bold;
    
}
.sizeDetails{
    margin-top:5px;
    display:flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 32px;
    .sizeInput{
        width: 45.5%;
        label{
            width: 100%;
            font-size: 24px;
           
            display: flex;  
              
        }
        input{
            margin-left: 13%;
            width: 62%;
            height: 48px;
            background-color: #e4e4e4;
            border:2px solid #B1B1B1;
            padding-left: 3%;
            outline: none;
        }
    }
}
.colorStyle{
    margin-bottom: 0;
    width: 100%;
    label{
        width: 100%;
        font-size: 24px; 
        margin-bottom: 0;
        font-weight: bold;
    }
    select{
        @extend %select-style;
        margin: 0;
        }
}
}
.editLabelModal{
    max-width: 1200px!important;
    
    top:10%;
    display: flex;
    .modal-header {
        display: none;
    }
    .modal-body {
        padding:0!important;
        width: 84.06%;
        margin: auto;
        margin-top:42px;
    }
    .modal-footer{
        display: flex;
        justify-content: space-between;
        width: 84.06%;
        margin: auto;
        margin-bottom: 42px;
        margin-top:24px;
        padding: 0;
        border-top: none;
        button {
            width: 38.7%;
            height: 48px;
            border-radius: 24px;
            border: none;
            outline: none;
            font-size: 24px;
            text-transform: capitalize;
           
        }
        :first-child {
            color:#707070;
            background-color: white!important;
            border:1px solid #707070
        }
        .deleteButtonConformation {
            color:white;
            background-color: #00707E !important;
        }
    }
    .textAboutConformation {
        font-size: 32px;
    }
    
}
//option styling
.optionContainer{
    display: flex;
    flex-direction: column;
    }
    .optionInputsContainer{
        display: flex;
        justify-content: space-between;
        .optionDiv{
            width: 44%;
        }
    }
    .selectOptionStyle{
        width: 100%;
        display: flex;
        // justify-content: flex-end;
            margin-bottom:32px;
            label{
                width: 100%;
                font-size: 24px;
                font-weight: bold;
               
            }
            select{
                @extend %select-style;
                margin: 0;
            }
    }
    .optionHeader{
        font-size: 24px;
        margin:0;
        font-weight: bold;
        margin-bottom: 32px;
        margin-top:23px;
        text-align: center;
       
    }
    .optionStartLine{
        margin-top:8px;
        width: 100%;
        height: 2px;
        background-color: #707070;
    }
     //roll styling
     .labelForSpecificationsContainer{
        display: flex;
        flex-direction: column;
       margin-bottom: 32px;
    }
    
    .labelSpecificationContent{
        display: flex;
        justify-content: space-between;
        .rollParametersDiv{
            width: 44%;
        }
        :last-child{
            margin-bottom: 0;
        }
    }
    .selectStyle{
        width: 100%;
        margin-bottom:32px;
        label{
            width: 100%;
            font-size: 24px;
            font-weight: bold;
           
        }
        select{
           
            @extend %select-style;
            margin: 0;
        }
    }   
    .mainInputInsideSelect{
        width:100%;
        border:2px solid #B1B1B1;
        outline: none;
        padding-left:3%;
        height: 48px;
        margin-right: 4.56%
    }
    // .inputInsideSelect {
    //     margin-top:10px;
    //     padding:15px;
    //     display: flex;
    //     flex-direction: column;
    //     background-color: #e4e4e4;
    //     width: 100%;
    //     border:2px solid #B1B1B1;
    //     label{
    //         display: flex;
    //         font-size: 24px;
    //         font-weight: 400;
    //     }  
    // }
    .selectInputInLabelSpecification{
        width:100%;
        border:2px solid #B1B1B1;
        outline: none;
        padding-left:3%;
        height: 48px;
    }
    //textarea styling 
    .textareaContainer{
        p{
            font-size: 24px;
            margin: 0;
            font-weight: bold;
        }
        textarea{
            width: 100%;
            height: 135px;
            border: 2px solid #B1B1B1;
            background-color: #e4e4e4;
            font-size: 24px;
            outline: none;
        }
    }
    //input inside select styling inside modal
    .mainInputInsideSelectModal{
        width:100%;
        border:2px solid #B1B1B1;
        outline: none;
        padding-left:3%;
        height: 48px;
        margin-right: 4.56%
    }
    .inputInsideSelectModal{
        margin-top:10px;
        position: absolute;
        width: 44%!important;
        background-color: #e4e4e4;
        padding:15px;
        display: flex;
        flex-direction: column;
        width: 100%;
        border:2px solid #B1B1B1;
        z-index: 9999;
        
        label{
            display: flex;
            font-size: 24px;
            font-weight: 400;
        }  
    }
@media only screen and (max-width: 1550px) { 
    .cartProductContainer {
        .cartProductDetailsWrapper {
            margin-bottom: 48px;
        }
        .productName {
            font-size: 16px;
        }
        .orderDetailsButton,.orderButton {
            font-size: 16px;
        }
        .confirmation {
            .trashIcon {
                height: 16px;
                width: 14px;
            }
        }
        .headerForCartData,.resultheaderForCartData{
            font-size: 16px;
        }
       
    }
    .orderDetailsContainer {
        .orderMainDetails {
            .headerOfMain {
                font-size: 16px;
            }
        }
       
        .headerForCartData{
            font-size: 16px;
        }
        .resultheaderForCartData {
            font-size: 16px;
        }
        .parametersHeader {
            font-size: 24px;
        }
        .componentsHeader {
            font-size: 16px;
            font-weight: bold;
        }
        .editButtonModal {
            font-size: 16px;
        }
        
        .orderDetailsButtonContainer {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 48px;
            align-items: center;
            .makeOrder {
                height: 30px;
                width: 36.25%;
                background-color: #00707E;
                border-radius: 24px;
                border: none;
                outline: none;
                color: white;
                font-size: 16px;
            }
        }
       
    }
    .mainInputInsideSelectModal{
        height:30px!important;
    }
    .inputInsideSelectModal{
        label{
            display: flex;
            font-size: 16px!important;
            font-weight: 400;
        }  
    }
    .editLabelModal{
        max-width: 970px!important;
    }    
}