.footerContainer{
    background-color:#71A9B0;
    width: 100vw;
    display: flex;
    max-width: 1920px;
    .footerContent {
        height: 96px;
        width: 80.78%;
        display: flex;
        margin: auto;
        justify-content: space-between;
        padding-left:1.5%;
        align-items: center;
        span{
            font-size: 16px;
            font-family: 'Segoe UI' ;
            // margin-top:41px;
            line-height: 21px;
        }
        img{
            padding-right: 64px;
        }
    }
    .footerLinksWraper {
        width: 35%;
        display: flex;
        align-items: center;
        // margin-top:41px;
        a {
            font-size: 16px;
            color: #000000;
            font-family: 'Segoe UI' ;
            margin-right: 9.6%;
            line-height: 21px;
            text-decoration: none;
            white-space: nowrap;
            &:hover{
            color: #000000;
            }
        }
    }  
}
.footerLogoContainer {
    height: 96px;
    overflow: hidden;
    img {
        height: 145px;
    }
}
//contacts styling
.contactsShortInformationContainer{
        background-color: #00707E;
        padding-top: 24px;
    .contactsHeaderField{
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
        color:white;
        span{
        font-size: 24px;
        font-weight: bold; 
        }
    }
    .contactsDataContainer{
        display: flex;
        justify-content: space-between;
        width: 62.5%;
        margin: auto;
        margin-left: 22%;
        padding-bottom: 32px;
        .phoneNumberAdressContainer{
            display: flex;
            flex-direction: column;
            .addressCompany{
                margin-bottom: 16px; 
            }
        }
        .socialInformationHeader{
            font-size: 16px;
            font-weight: 400;
            color: white;
            display: flex;
            align-items: center;
        }
        span{
            font-size: 16px;
            font-weight: 400;
            color: white;
            white-space:normal;
        }
        .supportMarketingContactsContainer{
            display: flex;
            flex-direction: column;
            .supportContact{
                margin-bottom: 16px; 
            }
        }
        .socialInformationContainer{
            display: flex;
            align-items: center;
            :not(:last-child) { 
                margin-right: 24px;
            }
        }
    }
}
@media only screen and (max-width: 1550px) {
    .footerLinksWraper {
        a {
            font-size: 12px!important;
            margin-right: 7%!important;
        }
    } 
    .footerContent {
        span{
            font-size: 12px!important;
        }
        img{
            padding: 0!important;
        }
    }
    .contactsDataContainer{
        width: 80.78%!important;
        margin: auto!important;
        padding-left: 1.5%!important;
        span{
            font-size: 12px!important;
            white-space: wrap;
        }
    }
    .socialInformationContainer{
        :not(:last-child) { 
            margin-right: 20px;
        }
    }
      
}
@media only screen and (max-width: 1024px) {
    .contactsShortInformationContainer{
        padding-top: 11px;
    .contactsHeaderField{
        margin-bottom: 7px;
        span{
        font-size: 9px;
        }
    }
    .contactsDataContainer{
        padding-bottom: 17px;
        .phoneNumberAdressContainer{
            display: flex;
            flex-direction: column;
            .addressCompany{
                margin-bottom: 2px; 
            }
        }
        
        span{
            font-size: 10px!important;
            white-space: wrap;
        }
        .supportMarketingContactsContainer{
            display: flex;
            flex-direction: column;
            .supportContact{
                margin-bottom: 2px; 
            }
        }
        .socialInformationContainer{
            display: flex;
            align-items: center;
            :not(:last-child) { 
                margin-right: 10px;
            }
            a {
                img{
                    width: 21px;
                    height: 22px;
                }
            }
        }
    }
}
    .footerContent {
        height: 41px!important;
    }
    .footerLinksWraper {
        a {
            font-size: 10px;
        }
    } 
    .footerContent {
        span{
            font-size: 10px;
        }
    }
    
    .footerContent {
        img{
            // width: 40px;
            height: 60px;
            margin-top:30px;
            overflow: hidden!important;
            padding: 0!important;
        }
    }
}
@media only screen and (max-width: 768px) {
    .contactsShortInformationContainer{
    .contactsHeaderField{
        span{
        font-size: 9px!important;
        }
    }
        .contactsDataContainer{
            span{
                font-size: 9px!important;
            }
        }
    }
    .footerContent {
        height: 41px!important;
    }
    .footerLinksWraper {
        a {
            font-size: 9px!important;
        }
    } 
    .footerContent {
        span{
            font-size: 9px!important;
        }
    }
    .contactsDataContainer{
        span{
            font-size: 9px!important;
            white-space: wrap;
        }
    }
    .footerContent {
        img{
            // width: 40px;
            height: 60px;
            margin-top:30px;
            overflow: hidden!important;
            padding: 0!important;
        }
    }
}