.productPageContainer{
    display: flex;
    flex-direction: column;
    .productLinesContaner{
        display:flex;
        flex-direction: column;
        margin-top:24px;
        width: 32%;
        margin-right: 4%;
        .productFirstLine{
            width: 45.57%;
            height: 2px;
            background-color:#71a9b0;
            margin-bottom: 24px;
        }
        .productLineAndImageContainer{
            display: flex;
            .productSecondLine{
                width: 75%;
                height: 2px;
                margin-right:12.4%;
                background-color:#71a9b0;
                margin-top:7px;
            }
            img{
                width: 16px;
                height: 17px;
        
            }
            
        }
    }
    .productHeaderField{
        width: 100%;
        display: flex;
        margin-bottom: 24px;
        justify-content: center;
        span{
        font-size: 32px;
        font-weight: bold;
        margin-top:24px; 
        }
    }
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom:24px;
    div:nth-child(3n){
        margin-right: 0; 
    }
   
}
 
.mainProduct {
    display: flex;
    flex-direction: column;
    height: 336px;
    width: 32%;
    // min-width: 280px;
    background-color: white;
    margin-bottom:24px;
    margin-right: 1.93%; 
    position: relative;
    cursor: pointer;
    .selectButtonContainer{
        justify-content: center;
        span {
          display: none;
          transition: all ease-in-out 1s;
        }
         
        }
    &:hover {
        .selectButtonContainer{
            justify-content: center;
            transition: all ease-in-out 1s;
            span {
              display: flex;
              font-weight: 600;
               color: white;
               font-size: 22px;
               text-decoration: underline;
              
            }
             
            }
            .fieldForName{
                background-color: #00707E;
            } 
    }
    .productImage{
        margin: auto;
        height: auto;
        max-height: 265px;
        width: 350px;
        margin-top:19px;
     
    }
    .selectButtonContainer{
        position: relative;
        bottom: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
      
         
    }
    .fieldForName{ 
        width: 100%;
        height: 48px;
        background-color:#71A9B0; 

        p{
            text-align: center;
            font-size: 24px;
            color:white;
            margin: 0%;
            height: 48px;
        }

    }
}
.mainProduct:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: all 1s ease;
  }
  
  .mainProduct:hover:after {
    background: rgba(0, 0, 0, 0.5);
  }

@media only screen and (max-width: 1919px) {
    .mainProduct {
        width: 32%;
        height:17.5vw;
        background-color: white;
        margin-bottom:24px;
        margin-right: 1.93%; 
         
        .productImage{
            margin: auto;
            width: 91.15%;
            height: auto;
            margin-top:19px;


         
        }
    }
    
    .selectButtonContainer{
        position: relative;
        bottom: 7.81vw!important;
        display: flex;
        justify-content: flex-end;
    }
  
    .fieldForName{ 
        width: 100%;
        height: 2.5vw!important;

        // p{
        //     text-align: center;
        //     font-size: 24px;
        //     color:white;
        //     margin: 0%;
        //     height: 48px;
        //     font-weight: 400;
        // }

    }
}
@media only screen and (max-width: 1550px) {    
    .fieldForName{
        p{
            font-size: 16px!important;       
        }
    }  
    .selectButtonContainer{
        span {
            font-size: 12px!important;    
        }
         
        }  
}
@media only screen and (max-width: 1024px) {    
    .fieldForName{
        p{
            font-size: 12px!important;       
        }
    }  
    .selectButtonContainer{
        span {
            font-size: 12px!important;    
        }
         
        }  
}
//test
