 .productDetailsPage {
     .productDetailsHeader {
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 24px;
     }
 }
 //main information about product 
%button-style {
    width: 16%;
    height: 48px;
    border-radius: 24px;
    background-color: #00707E;
    font-size: 24px;
    color: white;
    border: none;
    outline: none;
}
    .customizedProductMainData{
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
       
    }
    .selectOptionContainer{
        display: flex;
        justify-content: flex-end;
        width: 100%;
        margin-bottom:48px;
        span{
            font-size: 24px;
            display: flex;
            align-items: center;
            margin-right: 1.3%
        }
        .select{
            width: 36%;
            background-color: #e4e4e4;
            border:2px solid #B1B1B1;
            border-radius: 4px;
            font-size:24px;
            height: 48px;
            .css-1hwfws3{
                padding-top:0;
                padding-bottom: 0;
            }
            .css-1okebmr-indicatorSeparator {
                display: none
            }

 
        }
    }
    //icon down
    .iconDown { 
        display: flex;
        align-self: center;
        height: 15px;
        width: 17px;
        padding-right: 5px;
       
        path {
            color: hsl(0,0%,80%);
            font-weight:bold;
            width: 11.6px!important;
            height: 6.8px;
           
        }
    }
    
    .informationAndLinesContainer{
        display: flex;
        flex-direction: column;
    }
    .imageAndInformationContainer{
        display: flex;
        .imageContainer{
            height: 336px;
            max-width:384px ;
            background-color: white;
            display: flex;
            align-items: center;
            margin-right: 4%;
        }
        img{
            height:282px;
            width: 373px;
            margin:auto;
        }
    }
    .informationContainer{
        display: flex;       
        align-items: center;
    }
    .informationAndLinesContainer{
        display: flex;       
       
        p{
            margin: 0;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 24px;
            font-weight: 400;
        }
    }
    //option styling
    .optionContainer{
        display: flex;
        flex-direction: column;
    }
    .optionInputsContainer{
        display: flex;
        justify-content: space-between;
        .optionDiv{
            width: 44%;
        }
    }
    .optionHeader{
        font-size: 24px;
        margin:0;
        font-weight: bold;
        margin-bottom: 32px;
        margin-top:23px;
        text-align: center;
    }
    .optionStartLine{
        margin-top:8px;
        width: 100%;
        height: 2px;
        background-color: #707070;
    }
//button 
.buttonContainer{
    display: flex;
    justify-content: flex-end;
    margin-top:70px ;
    margin-bottom: 32px
}
.customizedButton{
    width: 52%;
    background-color: #00707E;
    border-radius: 24px;
    height: 48px;
    border:none;
    outline: none;
    font-size: 24px;
    color: white;
    text-align: center;
}
//price styling
.priceDataDetails {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-size: 24px;
    
}
//style of dropdown menu with filter
.headerOfFilter {
    width: 100%;
    font-size: 24px;
    font-weight: bold;
}
.dropDownFilterContainer{
.dropdown {
    height: 48px;
    display: flex;
    justify-content: flex-end;
    background-color:#e4e4e4;
    border: 2px solid #B1B1B1;
    // width:250px !important;
    color:black;

    span{
        text-align: start;
        width: 100%;
        margin: 0 1.5%;
        align-self: center;
        font-size: 24px;
        height: 30px;
    };
    img{
        margin-right: 5px;
        height: 8px ;
        width: 12px ;  
        align-self:center;
        cursor: pointer;
      
    }
    }
    .filterField{
        width: 90%;
        margin: auto;
        outline: none;
    }
}
.dropDownFilterContainer{
.show>.dropdown-menu {
    transform: translate3d(0px, 47px, 0px)!important;
    width: 100%;;
    max-height: 250px;
    overflow: scroll;
    background-color: #e4e4e4;
    font-size: 24px;
    input:focus {
        box-shadow:none;
        border-color: inherit
      }
      .dropdown-item:hover{
          background-color: #B1B1B1;
      }
  }
}
  .filterField{
      outline: none;
      
  }
  .containerValuOfFilter{
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color:black;
  }
  .inputInsideSelectStandard {
    margin-top: 8px;
    border: none;
    max-width: 528px;
    position: absolute;
    width: 27.8%;
    padding:0;
    display: flex;
    flex-direction: column;
    z-index: 999;
    background-color: #e4e4e4;
    
    label{
        display: flex;
        font-size: 24px;
        font-weight: 400;
    }  
}
.inputInsideSelectFormContainerStandard {
    border:2px solid #B1B1B1;
     padding:15px;
     width: 98%;
     margin: auto;
     border-radius:4px
}
@media only screen and (max-width: 1810px) {
    .inputInsideSelectStandard {
        width: calc(27.5% - 1.7px)!important;
    }

}
@media only screen and (max-width: 1700px) {
    .inputInsideSelectStandard {
        width: calc(27.5% - 3px)!important;
    }
}
@media only screen and (max-width: 1600px) {
    .inputInsideSelectStandard {
        width: calc(27.5% - 4.8px)!important;
    }
}
@media only screen and (max-width: 1500px) {
    .inputInsideSelectStandard {
        width: calc(27.5% - 5.8px)!important;
    }
}
@media only screen and (max-width: 1450px) {
    .inputInsideSelectStandard {
        width: calc(27.5% - 8.8px)!important;
    }
}
@media only screen and (max-width: 1400px) {
    .inputInsideSelectStandard {
        width: calc(27.5% - 12px)!important;
    }
}
@media only screen and (max-width: 1550px) {
    .inputInsideSelectStandard {
        
        label{
            display: flex;
            font-size: 16px;
            font-weight: 400;
        } 
    }
    .select{
        font-size:16px!important;
        height: 38px!important;
        .css-mcwtmf-control{
            min-height: 20px;  
          }
    }
    .headerOfFilter {
        font-size: 16px; 
    }
    .dropDownFilterContainer{
        .show>.dropdown-menu {
            .dropdown-item {
                font-size: 16px!important;
            }
          }
        .dropdown {
            height: 38px;
        span{
            font-size: 16px;
            height: 38px;
            margin-top: 8px
        };
        img{
            margin-right: 5px;
            height: 8px ;
            width: 12px ;  
            align-self:center;
            cursor: pointer;
        
        }
        } 
    }
}